youbot_driver/
KDL/
Controller/build_youbot/*
Controller/build_lwr/*
Controller/build_kinova/*
Controller/release_build_lwr/*
Controller/release_build_youbot/*
Controller/release_build_kinova/*
kortex_api/*
Controller/visualization/archive/*

kdl_parser/*
lwr_rtt_ws/build/*
lwr_rtt_ws/devel/*
lwr_rtt_ws/logs/*
lwr_rtt_ws/src/kdl_parser/*
lwr_rtt_ws/.catkin_tools/*

\.ipynb_checkpoints/*

ABAG_testing/\.ipynb_checkpoints/

\.vscode/
